@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Cairo", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: var(--font-sans);
}

@media print {
  body {
    background-color: white !important;
    color: black !important;
  }
  .prose-invert {
    --tw-prose-body: black !important;
    --tw-prose-headings: black !important;
    --tw-prose-bold: black !important;
    --tw-prose-lists: black !important;
    --tw-prose-strong: black !important;
  }
  @page {
    margin: 1.5cm;
  }
}